#m_title {
  font-family: 'Merriweather', serif;
  font-size: 380%;
}
#m_subtitle {
  font-family: 'Viga', serif;
}
.vid_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.vid_container video {
  width: auto;
  height: auto;
  min-width: 100%; 
  min-height: 100%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#map {
  position: relative;
  width:auto;
  height:400px;
  margin:0px;
  padding:0px ;
  border-color: gray;
  border-style: dotted ;
}
.get-markers {
    width:100%;
    margin:10px 0;
}

.alert {
  margin-bottom: 0px;
}

.custom-head {
  color: #fff;
}
/* Hover Blur Effect */
.text-white {
  color: #fff;
}
.hover-blur a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-blur img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-blur:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: grayscale(0.6) blur(1px);
  filter: grayscale(0.6) blur(1px);
}
.hover-blur a h2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  padding: 45% 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  /*background dotted*/
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.hover-blur:hover a h2 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.hover-blur .text-white {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.hover-blur:hover .text-white {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
}
.navbar {
  padding: 1.5rem 1rem;
  font-size: 23px;
  font-family: 'Muli', sans-serif;
  border-bottom: solid .1rem #857c56;
  background-color: #fff;
}
.attraction {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.attraction_info {
  position: absolute;
  bottom: 15px;
  left: 10px;
  overflow-x: hidden;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}
section {
  padding-top: 75px;
  padding-bottom: 40px; 
}
